body {
  background-color: black;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  display: flex;
  font-family: "Open Sans", sans-serif;
  background-image: url(https://images.unsplash.com/photo-1707343844152-6d33a0bb32c3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  color: white;
}
.card {
  background-color: black;
  max-width: 500px;
  border-radius: 25px;
  padding: 32px;
  opacity: 0.8;
  font-family: inherit;
}
.search {
  display: flex;
  font-family: inherit;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.searchbar {
  height: 40px;
  border-radius: 20px;
  border: none;
  font-size: 120%;
  padding: 10px;
  width: calc(100% - 50px);
}
.searchbutton {
  margin: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  opacity: 0.3;
  color: white;
}
.searchbutton:hover {
  opacity: 0.7;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2 ease-in-out;
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}
